.hero {
    
    &__board {
    // positioning
    position: relative;

    // box model
    padding: 65px 100px;
    padding-right: 250px;
    display: inline-block;
    vertical-align: top;

    // visual
    background-color: rgba($accent, 0.9);
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;

    }
    &__header {
        // box model
        padding-bottom: 30px;
    }

    &__content {

    }

    &__motto {
        // typography
        color: $yellow;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.875rem;
    }

    &__title {
        // box model

        // typography
        color: $white;
        font-size: 3.75rem;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-family: $mainFont;
        font-weight: 900;

        b {
            // typography
            color: $yellow;
            text-transform: lowercase;
        }

        span {
            // box model
            padding-left: 15px;

            // typography
            font-size: 1.875rem;
            text-transform: lowercase;
        }
    }

    &__copy {
        // box model
        padding-bottom: 25px;

        // typography
        color: $white;
        font-family: $textFont;
        font-weight: 400;
        line-height: 1.75;
    }

    &__button {
        // box model
        position: absolute;
        bottom: -22px;
    }


    &__form {
        // box model
        display: inline-block;
        vertical-align: top;
        margin-left: 115px;
        width: 370px;

        &-header {
            // box model
            padding: 25px 0;
        }

        &-title {
            // box model

            // typography
            color: $textColor;
            font-size: 1.875rem;
            font-weight: 700;
        }
        &-description  {
            // typography
            font-size: 0.75rem;
            font-weight: 400;

            span {
                // typography
                color: #1b348a;
            }
        }
        
        &-group {
            // box model
            display: flex;
            flex-direction: column;

            label {
                // box model
                padding-bottom: 15px;

                // typography
                font-size: 0.75rem;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }

        &-input {
            // box model
            padding: 20px;
            margin-bottom: 10px;
            border: none;

            // visual
            border-radius: 5px;
            background-color: #e3e0da;
            outline: none;
            transition: 0.3s ease-in-out;

            &:hover, focus, active {
                // visual
                background-color: $white;
            }
        }

        &-textarea {
            // box model
            padding: 20px;
            border: none;
            height: 100px;

            // visual 
            resize: none;
            border-radius: 5px;
            background-color: #e3e0da;
            outline: none;
            transition: 0.3s ease-in-out;

            &:hover, focus, active {
                // visual
                background-color: $white;
            }
        }

        &-button {
            // box model
            margin-top: 15px;
            display: flex;
            justify-content: space-around;
        }
    }

    &__policy {
        // box model
        display: inline-block;
        vertical-align: top;
        padding-left: 40px;
    
        // typography
        font-size: 0.75rem;
        opacity: 0.5;
    }
}