.hero {
    
    &__board {
    
    // box model
    display: inline-block;
    vertical-align: top;
    padding: 50px 100px;

    // visual
    background-color: $accent;
    }

    &__form {
        // box model
        margin-top: 30px;
        display: inline-block;
        vertical-align: top;
    }
}